database.ini
api_keys.ini
secrets/
keys/
example/
*creds.json

*.env
envs/

.vscode/

__pycache__/
*.pyc
.pytest_cache

.env
env/
.venv
venv/

.coverage
htmlcov/

*.Identifier

# Angular
.yarn/