.env
env/
.venv
venv/

.vscode/

__pycache__/
*.pyc
.pytest_cache

.coverage
htmlcov/

*.Identifier

# Yarn
# Ignoring .yarn/unplugged might however prevent Zero-Installs from working (to prevent this, set enableScripts to false).
**/.yarn/*
***/.yarn/releases/** binary
***/.yarn/plugins/** binary
!***/.yarn/releases
!***/.yarn/patches
!***/.yarn/plugins
!***/.yarn/releases
!***/.yarn/sdks
!***/.yarn/versions

# Firebase
.firebase