<ion-content>
    <div id="welcome-div" *ngIf="!loading">
        <div id="log-out" *ngIf="isAuthenticated">
            <h1>Welcome to https://stage-project.web.app, {{profileName}}</h1>
            <ion-button (click)="logout()">
                <fa-icon [icon]="['fas', 'right-from-bracket']"></fa-icon>
                <ion-label>Log out</ion-label>
            </ion-button>
        </div>
        <div id="log-in" *ngIf="!isAuthenticated">
            <h1>Welcome to https://stage-project.web.app</h1>
            <ion-button (click)="signin()">Sign in</ion-button>
        </div>
    </div>
</ion-content>