<mat-toolbar color="primary" class="mat-elevation-z3">
  <button type="button" mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>NG MAT Admin</span>
  <span style="flex: auto"></span>
  <button mat-icon-button (click)="toggleTheme()">
    <mat-icon>{{
      getTheme() === "dark" ? "dark_mode" : "light_mode"
    }}</mat-icon>
  </button>
  <button mat-icon-button [matMenuTriggerFor]="settingsMenu">
    <mat-icon>settings</mat-icon>
  </button>
  <mat-menu #settingsMenu>
    <!-- <button mat-menu-item>
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button> -->
    <button mat-menu-item>
      <mat-icon>settings</mat-icon>
      <span>Settings</span>
    </button>
    <button mat-menu-item>
      <mat-icon>lock</mat-icon>
      <span>Security</span>
    </button>
    <!-- <button mat-menu-item>
      <mat-icon>dashboard</mat-icon>
      <span>Dashboard</span>
    </button> -->
    <button mat-menu-item>
      <mat-icon>contact_support</mat-icon>
      <span>Support</span>
    </button>
  </mat-menu>
  <button mat-icon-button [matMenuTriggerFor]="appsMenu">
    <mat-icon>apps</mat-icon>
  </button>
  <mat-menu #appsMenu>
    <app-apps></app-apps>
  </mat-menu>
  <button mat-icon-button [matMenuTriggerFor]="profileMenu">
    <app-avatar></app-avatar>
  </button>
  <mat-menu #profileMenu>
    <app-profile></app-profile>
    <mat-divider></mat-divider>
    <app-auth-button></app-auth-button>
  </mat-menu>
  <!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
</mat-toolbar>

<mat-sidenav-container style="height: 100%">
  <mat-sidenav
    #drawer
    mode="over"
    fixedInViewport
    fixedTopGap="64"
    class="mat-elevation-z2"
    style="width: 250px"
  >
    <mat-nav-list>
      <div mat-subheader>Menu</div>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-sidenav-container style="height: 100%">
      <!-- TODO this is the sub side-nav, move to standalone component with input from page to fill in menu for that section -->
      <mat-sidenav
        #sidenav
        mode="side"
        disableClose="true"
        [opened]="true"
        [@animateSnav]="isSnavExpanded ? 'expand' : 'collapse'"
        (mouseenter)="isSnavExpanded = true"
        (mouseleave)="isSnavExpanded = isSnavLocked ? true : false"
        fixedInViewport
        fixedTopGap="64"
        class="mat-elevation-z1"
      >
        <mat-nav-list style="white-space: nowrap">
          <mat-list-item id="header" class="mat-elevation-z1">
            <mat-icon
              matListItemIcon
              style="
                width: 32px;
                height: 32px;
                font-size: xx-large;
                margin-right: 16px;
              "
            >
              home
            </mat-icon>
            <span
              matListItemTitle
              style="font-size: large"
              [@animateSnavText]="isSnavExpanded ? 'show' : 'hide'"
            >
              NgHome
            </span>
          </mat-list-item>
          <mat-accordion
            displayMode="default"
            [hideToggle]="!isSnavExpanded"
            multi="true"
          >
            <mat-expansion-panel [expanded]="true" class="mat-elevation-z0">
              <mat-expansion-panel-header
                [ngStyle]="{ 'padding-right': !isSnavExpanded ? '0px' : '' }"
              >
                <mat-panel-title>
                  <span *ngIf="isSnavExpanded; else subdot" mat-subheader>
                    Sub-Group A
                  </span>
                  <ng-template #subdot>
                    <span mat-subheader>
                      <mat-icon matListItemIcon>more_horiz</mat-icon>
                    </span>
                  </ng-template>
                </mat-panel-title>
              </mat-expansion-panel-header>

              <mat-list-item>
                <mat-icon matListItemIcon>home</mat-icon>
                <span
                  matListItemTitle
                  [@animateSnavText]="isSnavExpanded ? 'show' : 'hide'"
                >
                  home
                </span>
              </mat-list-item>
              <mat-list-item>
                <mat-icon matListItemIcon>query_stats</mat-icon>
                <span
                  matListItemTitle
                  [@animateSnavText]="isSnavExpanded ? 'show' : 'hide'"
                >
                  stats
                </span>
              </mat-list-item>
            </mat-expansion-panel>
            <mat-expansion-panel [expanded]="true" class="mat-elevation-z0">
              <mat-expansion-panel-header
                [ngStyle]="{ 'padding-right': !isSnavExpanded ? '0px' : '' }"
              >
                <mat-panel-title>
                  <span *ngIf="isSnavExpanded; else subdot" mat-subheader>
                    Sub-Group B
                  </span>
                  <ng-template #subdot>
                    <span mat-subheader>
                      <mat-icon matListItemIcon>more_horiz</mat-icon>
                    </span>
                  </ng-template>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-list-item>
                <mat-icon matListItemIcon>query_stats</mat-icon>
                <span
                  matListItemTitle
                  [@animateSnavText]="isSnavExpanded ? 'show' : 'hide'"
                >
                  stats
                </span>
              </mat-list-item>
              <mat-list-item>
                <mat-icon matListItemIcon>manage_accounts</mat-icon>
                <span
                  matListItemTitle
                  [@animateSnavText]="isSnavExpanded ? 'show' : 'hide'"
                >
                  accounts
                </span>
              </mat-list-item>
              <mat-list-item>
                <mat-icon matListItemIcon>manage_accounts</mat-icon>
                <span
                  matListItemTitle
                  [@animateSnavText]="isSnavExpanded ? 'show' : 'hide'"
                >
                  accounts
                </span>
              </mat-list-item>
              <mat-list-item>
                <mat-icon matListItemIcon>manage_accounts</mat-icon>
                <span
                  matListItemTitle
                  [@animateSnavText]="isSnavExpanded ? 'show' : 'hide'"
                >
                  accounts
                </span>
              </mat-list-item>
              <mat-list-item>
                <mat-icon matListItemIcon>manage_accounts</mat-icon>
                <span
                  matListItemTitle
                  [@animateSnavText]="isSnavExpanded ? 'show' : 'hide'"
                >
                  accounts
                </span>
              </mat-list-item>
              <mat-list-item>
                <mat-icon matListItemIcon>manage_accounts</mat-icon>
                <span
                  matListItemTitle
                  [@animateSnavText]="isSnavExpanded ? 'show' : 'hide'"
                >
                  accounts
                </span>
              </mat-list-item>
              <mat-list-item>
                <mat-icon matListItemIcon>manage_accounts</mat-icon>
                <span
                  matListItemTitle
                  [@animateSnavText]="isSnavExpanded ? 'show' : 'hide'"
                >
                  accounts
                </span>
              </mat-list-item>
              <mat-list-item> </mat-list-item>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-nav-list>

        <button
          mat-icon-button
          id="snav-lock"
          (click)="isSnavLocked = !isSnavLocked"
        >
          <mat-icon
            matListItemIcon
            [@animateSnavLock]="isSnavLocked ? 'locked' : 'unlocked'"
            >keyboard_capslock</mat-icon
          >
        </button>
      </mat-sidenav>
      <mat-sidenav-content
        [@animateSnavContent]="isSnavLocked ? 'expand' : 'collapse'"
      >
        <h1>TEST 1</h1>
        <router-outlet></router-outlet>
        <h1>TEST 2</h1>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </mat-sidenav-content>
</mat-sidenav-container>
