<ion-menu menuId="right-menu" contentId="main-content" type="overlay" side="end" (ionWillOpen)="checkFullScreen()">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Start Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list id="inbox-list">
      <ion-list-header>your-firebase-project</ion-list-header>
      <ion-menu-toggle auto-hide="false">
        <ion-item routerDirection="root" [routerLink]="'/'">
          <fa-icon [icon]="['fas', 'house']"></fa-icon>&nbsp;
          <ion-label>Home</ion-label>
        </ion-item>
        <ion-item routerLink="{{null}}" (click)="navigateToDefaultFloor()" *ngIf="isAuthenticated">
          <fa-icon [icon]="['fas', 'map']"></fa-icon>&nbsp;
          <ion-label>View Map</ion-label>
        </ion-item>
        <ion-item *ngIf="!fullscreen"  (click)="openFullScreen()" class="cursor">
          <fa-icon [icon]="['fas', 'maximize']"></fa-icon>&nbsp;
          <ion-label>Full screen</ion-label>
        </ion-item>
        <ion-item *ngIf="fullscreen" (click)="closeFullScreen()" class="cursor">
          <fa-icon [icon]="['fas', 'minimize']"></fa-icon>&nbsp;
          <ion-label>Normal screen</ion-label>
        </ion-item>
        <!-- <ion-item routerDirection="root" [routerLink]="'/folder/asdr3t'" routerLinkActive="selected">
          <fa-icon [icon]="['fas', 'coffee']"></fa-icon>&nbsp;
          <ion-label>Office</ion-label>
        </ion-item>
        <ion-item routerDirection="root" [routerLink]="'/folder/asetd'" lines="none" detail="true"
          routerLinkActive="selected">
          <fa-icon [icon]="['fas', 'house']"></fa-icon>&nbsp;
          <ion-label>Shop</ion-label>
        </ion-item> -->
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
  <ion-footer *ngIf="isAuthenticated">
    <ion-card-header>
      <ion-item>
        <ion-avatar id="avatar">
          <img [src]="avatar">
        </ion-avatar>
        <ion-label>
          <h3>{{profileName}}</h3>
          <p>{{profileEmail}}</p>
        </ion-label>
      </ion-item>
    </ion-card-header>
    <ion-card-content>
      <ion-button fill="clear" (click)="logout()" color="dark">
        <fa-icon [icon]="['fas', 'right-from-bracket']"></fa-icon>
        <p>Logout</p>
      </ion-button>
    </ion-card-content>
  </ion-footer>
</ion-menu>