<div
  (mouseenter)="toggleSideNav()"
  (mouseleave)="toggleSideNav()"
  [@animateSideNav]="isSideNavOpen ? 'open' : 'close'"
>
  <mat-nav-list role="navigation">
    <mat-accordion displayMode="flat">
      <mat-list-item
        *ngFor="let nav of navs"
        [activated]="router.url === nav.link"
        [routerLink]="nav.link"
      >
        <mat-icon matListItemIcon>{{ nav.icon }}</mat-icon>
        <span
          matListItemTitle
          [@animateText]="isLinkTextShown ? 'show' : 'hide'"
          >{{ nav.name }}
        </span>
      </mat-list-item>
    </mat-accordion>
  </mat-nav-list>
</div>
