<mat-grid-list cols="2" rowHeight="2:1" gutterSize="10" style="margin: 10px">
  <mat-grid-tile>
    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-icon mat-card-avatar>bolt</mat-icon>
        <mat-card-title> Card Title </mat-card-title>
        <mat-card-subtitle> Card Subtitle </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <plotly-plot
          [data]="graph.data"
          [layout]="graph.layout"
          [useResizeHandler]="true"
          [style]="{ position: 'relative', width: '100%', height: '100%' }"
        >
        </plotly-plot>
      </mat-card-content>
      <mat-card-actions>
        <button>button</button>
      </mat-card-actions>
      <mat-card-footer>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </mat-card-footer>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card appearance="raised">
      <mat-card-header>
        <mat-card-title> Card Title </mat-card-title>
        <mat-card-subtitle> Card Subtitle </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <plotly-plot
          [data]="graph.data"
          [layout]="graph.layout"
          [useResizeHandler]="true"
          [style]="{ position: 'relative', width: '100%', height: '100%' }"
        >
        </plotly-plot>
      </mat-card-content>
      <mat-card-actions align="end">
        <button>button</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <mat-card-header>
        <mat-card-title> Card Title </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <plotly-plot
          [data]="graph.data"
          [layout]="graph.layout"
          [useResizeHandler]="true"
          [style]="{ position: 'relative', width: '100%', height: '100%' }"
        >
        </plotly-plot>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <mat-card-content>
        <plotly-plot
          [data]="graph.data"
          [layout]="graph.layout"
          [useResizeHandler]="true"
          [style]="{ position: 'relative', width: '100%', height: '100%' }"
        >
        </plotly-plot>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
