.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 2;
}

#snav-lock {
  transform: rotate(90deg);
  position: absolute;
  bottom: 0;
  background: var(--mat-sidenav-container-background-color);
}

::ng-deep .mat-expansion-panel-body {
  padding: 0px !important;
}

::ng-deep .mat-expansion-panel-header {
  padding-left: 0px !important;
}

#header {
  position: -webkit-sticky; // for Safari
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--mat-sidenav-container-background-color);
}
