#welcome-div {
    display: flex;
    flex-direction: column;
    height: 85vh;
    justify-content: center;
    align-items: center;

    #log-in, #log-out {
        display: flex;
        flex-direction: column;
    }
}