
  // @keyframes spin {
  //   from {
  //     transform: rotate(0deg);
  //   }
  //   to {
  //     transform: rotate(360deg);
  //   }
  // }
  
  // .robot-thinking {
  //   animation: spin 2s linear infinite;
  // }

  @keyframes pulse {
    0%, 100% {
      transform: scale(1);  /* Original size */
    }
    50% {
      transform: scale(1.2);  /* 20% larger */
    }
  }
  
  .robot-thinking {
    animation: pulse 1s ease-in-out infinite;
  }